// forked from https://codepen.io/viktorstrate/pen/yoBRLy

$base-color: #F4F4F4;
$shine-color: rgba(229,229,229,0.8);
$animation-duration: 2.0s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}

.skeleton__table{
  border-collapse:collapse;
  width: 100%;

  tr, th, td {
    padding: 5px;
    border: 1px solid $dark-500;
    border-collapse: collapse;
  }

  th{
    padding: 3px;
    background-color: $dark-500;
    &:first-child{
      width: 80px;
    }
  }

  td{
    color:#333;
    background-color:#fff;
  }

  th .line {
    float: left;
    width: 100%;
    height: 32px;
    border-radius: 2px;

    background-color: $light;

    @include background-gradient;
    animation: shine-lines $animation-duration infinite ease-out;
  }

  td .line{
    float: left;
    width: 100%;
    height: 20px;
    padding: 1rem;
    border-radius: 2px;


    @include background-gradient;
    animation: shine-lines $animation-duration infinite ease-out;
  }
}


.skeleton__block {
  margin-top: 1rem;
  width: 100%;
  height: 190px;
  border-radius: 3px;
  background-image: linear-gradient(90deg, #e2e2e2 0px, #efefef 30px, #e2e2e2 60px);
  background-size: calc(160px + 160px);
  animation: refresh $animation-duration infinite ease-out;
}

@keyframes refresh {
  0% {
    background-position: calc(-250px);
  }
  60%, 100% {
    background-position: 250px;
  }
}



@keyframes shine-lines{
  0% { background-position: -100px;}
  40%, 100% {background-position: 300px;}
}
