.groupStudents {
  display: flex;
  flex-direction: column;

  &__lead {
    display: flex;
    justify-content: flex-end;

    margin-top: 1rem;
  }

  &__students_table {

  }

  &__students {
    &__modals {
      &__add_student {
        padding: 1rem;
      }
    }
  }
}