.sidebar {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-flow: column;

  &__organization {
    display: flex;
    gap: .9rem;

    padding: 1.3rem;
    margin: 2rem 1rem 0rem 1rem;

    border-radius: 10px;
    box-shadow: 3px 2px 10px 3px $alt;

    background-color: #30475EE6;

    &__logo {
      width: 5rem;
      height: auto;

      img {
        width: 100%;
        height: 70px;
        object-fit: contain;
        border-radius: 7px;
        box-shadow: 0px 0px 7px -3px $light;
        background: $white;
      }
    }

    &__info {
      display: flex;
      flex-flow: column;
      gap: .3rem;
      color: $white;

      p {
        font-weight: bold;
      }

      small {
        color: inherit;
        font-size: 12px;
      }
    }
  }

  &__list {
    flex: 1;
    padding: 1rem 2rem 0 2rem;

    &__active {
      background-color: #ff7979;
    }

    li {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: .4rem;
      }

      a {
        display: block;
        text-decoration: none;

        width: 100%;
        padding: .8rem;

        color: $dark;
        background-color: transparent;

        transition: background-color .3s ease-in-out;
        will-change: background;

        border-radius: 4px;

        &:hover {
          background-color: lighten(#000000, 95);
          color: $black;
        }
      }
    }
  }

  &__footer {
    height: auto;
    font-size: 10px;
    color: $ft-light;
    text-align: center;
  }
}
