.sidebar {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-flow: column;

  &__organization {
    display: flex;
    gap: .9rem;

    padding: 2rem;

    &__logo {

      width: 3rem;
      height: 3rem;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        border-radius: 7px;
      }
    }

    &__info {
      display: flex;
      flex-flow: column;
      gap: .3rem;

      p {
        font-weight: bold;
      }

      small {
        color: $ft-light;
      }
    }
  }

  &__list {
    flex: 1;
    padding: 1rem 2rem 0 2rem;

    &__active {
      background-color: #ff7979;
    }

    li {
      list-style: none;

      &:not(:last-child) {
        margin-bottom: .4rem;
      }

      a {
        display: block;
        text-decoration: none;

        width: 100%;
        padding: .8rem;

        color: $dark;
        background-color: transparent;

        transition: background-color .3s ease-in-out;
        will-change: background;

        border-radius: 4px;

        &:hover {
          background-color: $accent;
          color: $black;
        }
      }
    }
  }

  &__footer {
    height: auto;
    font-size: 10px;
    color: $ft-light;
    text-align: center;
  }
}