.courses {

  &__lead {
    display: flex;
    justify-content: space-between;

    &__btns {
      display: flex;
      flex-flow: row;

      gap: .4rem;
    }
  }

  &__filters {
    display: flex;
  }

  &__list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    margin-top: 1rem;

    > .card {


      display: flex;
      flex-direction: column;
      min-width: 15rem;
      max-width: calc(12.5rem + 13vw);
      background: #fff;
      border-radius: 0.75em;
      overflow: hidden;
      transition: transform 270ms ease;
      position: relative;

      box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);

      .course__hero {
        margin: 0;

        height: auto;
        width: 100%;

        position: relative;

        .action-group {
          position: absolute;
          z-index: 1;

          right: 2%;
          top: 2%;

          opacity: 0;
          gap: .4rem;

          display: flex;

          transition: all .3s ease-in-out;
        }

        .course-badges {
          position: absolute;
          z-index: 1;

          left: 2%;
          bottom: 2%;

          opacity: 1;
          gap: .4rem;

          display: flex;

          transition: all .3s ease-in-out;
        }

        &:hover .action-group,
        &:hover .course-badges {
          transition: all .3s ease-in-out;
          opacity: 1;
        }

        > img  {
          display: block;
          width: 100%;
          max-width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          height: auto;
        }
      }

      .course__description {
        width: 100%;

        padding: 1rem;
        bottom: 0;

        background-color: #fff;

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        p {
          font-weight: bold;
        }

        input {
          background: none;
          outline: none;
          border: none;

          font-size: 1rem;

          color: $black;
        }

      }
    }
  }

  .course__card__body {
    padding: 0;
  }

  &__modals {
    &__create {
      margin: 1rem;
      form{
        display: flex;
        flex-direction: column;

        gap: 1rem;
      } }
  }
}