.table {
    width: 100%;
    border-collapse: collapse;

   th {
     text-transform: uppercase;
     text-align: left;
     border: 1px solid  $dark;
     color: $dark;
     cursor: pointer;
     padding: 8px;
     min-width: 30px;

     &.--short {
       padding: 3px 0;
       text-align: center;
       width: 100px;
     }
   }

  td {
    text-align: left;
    padding: 4px;
    border-right: 1px solid $light;
    border-bottom: 1px solid $light;

    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;

      border-right: none;
    }
  }

  tbody {
    tr:hover {
      background-color: #fafafa;
    }

    tr:nth-child(even) {
      background-color: #f4f6fb;
    }
  }


  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    border: 1px solid $light;


    &__controllers {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;

      .counter {
        font-size: 10px;
      }

      &__page_size {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1rem;
      }
    }
    &__info {
      font-size: 14px;
    }
  }


}