.toast {
  position: absolute;

  z-index: 10;

  width: 30%;
  height: auto;

  bottom: 3%;
  right: 2%;

  display: flex;
  align-items: center;

  padding: 1.2rem 2rem;

  color: #fff;

  border-radius: 6px;

  > i {
    margin-right: .5rem;
  }

  @media (max-width: 992px) {
    & {
      width: 80%;

      right: 50%;

      transform: translateX(50%);
    }
  }

  // Modifiers
  &__toast_theme {
    &__success {
      background-color: #339900;
    }

    &__error {
      background-color: $danger;
    }
  }
}

