//External Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@import './__variables.scss';
@import "_Icons";

@import './shared/ButtonEffects.scss';
@import './shared/Avatar/_Avatar';
@import "./shared/Attendance/_Attendance";
@import './shared/Dropdown/_Dropdown';
@import './shared/Dropdown/_Accordion';
@import './shared/Tabs/_Tabs';
@import './shared/Card/_Card';
@import './shared/Modal/_Modal';
@import './shared/Toast/_Toast';
@import "./shared/Calendar/_Calendar";
@import "./shared/RadioButton/_RadioButton";
@import "./shared/Table/_Table";
@import "./shared/Loader/_Loader";
@import "./shared/Checkbox/_Checkbox";
@import "./shared/Timetable/_Timetable";
@import "./shared/Skeleton/_Skeleton";
@import "./shared/Badge/_Badge";
@import "./views/auth/_Auth";
@import "./views/applicants/_Applicants";
@import "./views/courses/_Courses";
@import "./views/groups/_Groups";
@import "./views/groups/_GroupStudents";
@import "./views/groups/_GroupSchedule";
@import "./components/_Layout";
@import "./components/_Sidebar";
@import "./components/_SettingsBar";
@import "./components/Filters";
@import "./components/_ColorPicker";
@import "./views/root/_Dashboard";
@import "./views/root/_Rooms";
@import "./views/students/_Students";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/// @author Javlon Khalimjonov
/// This is defined as a global style for all labels
/// If you want to use another styling for particular `label`s
/// please decorate them with either `id` or `class` attributes
label {
  font-size: .83rem;
  color: darken(#ccc, 45%);
}

.none {
  display: none;
}

.--active {
  background-color: $secondary !important;
  color: $white;
}