$primary: #00abdf;
$secondary: #30475e;
$accent: #f2a365;
$dark: #3d3d3d;
$black: #000000;
$dark-500: #cccccc;
$gray-10: #f2f2f2;
$light: #F8F8F8;
$alt: #c3d4eb;

//Font Colors

$ft-light: #888888;
$ft-alt: #456ca1;


//Measurements

$pad-3: 2rem;